* {
  padding:0px;
  margin:0px;
  box-sizing:border-box;
}

main {
  width:auto;
  margin:40px;
}

.name {
  margin-left:40px;
}

.name:first-child {
  margin-top:40px;
}

table {
  cellpadding:'10';
}

.content {
  margin-right:20px;
}

.tab {
  margin-right:10px;
}
