<h1 class='font top-text'>ようこそBookersへ！</h1>

<div class='top-content-flame'>
  <p class='font top-text2'>
    <strong>Bookers</strong>ではさまざまな書籍に関するあなたの意見や
  </p>
  
  <p class='font top-text2'>印象を共有し交換することができます．</p>
  
  <p class='top-text2'><%= link_to 'start', books_path %></p>
</div>